{{> header}}
				<div class="m-grid__item m-grid__item--fluid m-wrapper">

					<div class="m-content">
						{{#if error}}
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							</button>
							<strong>Oh snap!</strong> {{error}}
						</div>
						{{/if}}

						<div class="row">
							<div class="col-lg-12">

								<!--begin::Portlet-->
								<div class="m-portlet m-portlet--tab">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<span class="m-portlet__head-icon m--hide">
													<i class="la la-gear"></i>
												</span>
												<h3 class="m-portlet__head-text">
													Pie Chart
												</h3>
											</div>
										</div>
									</div>
									<div class="m-portlet__body">
										<div id="m_morris_4" style="height:500px;"></div>
									</div>
								</div>

								<!--end::Portlet-->
							</div>


              <div class="col-lg-12">

                <div class="m-portlet">
    							<div class="m-portlet__head">
    								<div class="m-portlet__head-caption">
    									<div class="m-portlet__head-title">
    										<h3 class="m-portlet__head-text">
    											Bootstrap Select Examples
    										</h3>
    									</div>
    								</div>
    							</div>

    							<!--begin::Form-->
    							<form action="/dashboard" method="post" class="m-form m-form--fit m-form--label-align-right">
    								<div class="m-portlet__body">
                      <div class="form-group m-form__group row">
    										<label class="col-form-label col-lg-3 col-sm-12">Minimum Setup</label>
    										<div class="col-lg-4 col-md-9 col-sm-12">
    											<select name="choice" class="form-control m-bootstrap-select m_selectpicker">
    												<option value="mustard">Food</option>
    												<option>Travel</option>
    												<option>Bills</option>
    											</select>
    										</div>
    									</div>
    								</div>
    								<div class="m-portlet__foot m-portlet__foot--fit">
    									<div class="m-form__actions m-form__actions">
    										<div class="row">
    											<div class="col-lg-9 ml-lg-auto">
    												<button type="submit" class="btn btn-brand">Submit</button>
    												<button type="reset" class="btn btn-secondary">Cancel</button>
    											</div>
    										</div>
    									</div>
    								</div>
    							</form>

    							<!--end::Form-->
    						</div>


							</div>


						</div>


						<!--End::Main Portlet-->
					</div>
				</div>
			{{> footer}}
