{{> header}}
				<div class="m-grid__item m-grid__item--fluid m-wrapper">

					<div class="m-content">
						{{#if error}}
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							</button>
							<strong>Oh snap!</strong> {{error}}
						</div>
						{{/if}}






						<!--End::Main Portlet-->
					</div>
				</div>
			{{> footer}}
