{{> header}}
                  <form class="m-form">
										<div class="m-portlet__body">
											<div class="form-group m-form__group has-success">
												<label class="form-control-label" for="inputSuccess1">Left Button</label>
												<div class="input-group">
													<div class="input-group-prepend">
														<button class="btn btn-secondary" type="button">Go!</button>
													</div>
													<input type="text" class="form-control form-control-success" placeholder="Search for...">
												</div>
												<div class="form-control-feedback">Success! You've done it.</div>
												<span class="m-form__help">Example help text that remains unchanged.</span>
											</div>
											<div class="form-group m-form__group has-warning">
												<label class="form-control-label" for="inputWarning1">Right Button</label>
												<div class="input-group">
													<input type="text" class="form-control form-control-warning" placeholder="Search for...">
													<div class="input-group-append">
														<button class="btn btn-brand" type="button">Go!</button>
													</div>
												</div>
												<div class="form-control-feedback">Shucks, check the formatting of that and try again.</div>
												<span class="m-form__help">Example help text that remains unchanged.</span>
											</div>
											<div class="form-group m-form__group has-danger">
												<label class="form-control-label" for="inputDanger1">Both Buttons</label>
												<div class="input-group">
													<div class="input-group-prepend">
														<button class="btn btn-secondary" type="button">Go!</button>
													</div>
													<input type="text" class="form-control form-control-danger" placeholder="Search for...">
													<div class="input-group-append">
														<button class="btn btn-secondary" type="button">Go!</button>
													</div>
												</div>
												<div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
												<span class="m-form__help">Example help text that remains unchanged.</span>
											</div>
										</div>
										<div class="m-portlet__foot m-portlet__foot--fit">
											<div class="m-form__actions m-form__actions">
												<button type="submit" class="btn btn-success">Submit</button>
												<button type="submit" class="btn btn-secondary">Cancel</button>
											</div>
										</div>
									</form>
{{> footer}}

<style>
  .but {
		 /* display: block; */
		padding:10px 3px 10px 3px;
    background-color:#00cc00;
    display: block;
    border-radius:10px;
    margin-top: 100px;
		margin: 0 auto;
  }

	.inv {
		padding:10px 3px 10px 3px;
    border-radius:10px;
		margin: 0 auto;
		display: block;
		outline: 0;
		color: transparent;
		background-color: transparent;
		border-color: transparent
	}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
</style>
