{{> header}}
        <div class="m-grid__item m-grid__item--fluid m-wrapper">

        	<div class="m-content">
        		{{#if error}}
        		<div class="alert alert-danger alert-dismissible fade show" role="alert">
        			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
        			</button>
        			<strong>Oh snap!</strong> {{error}}
        		</div>
        		{{/if}}
            {{#if success}}
        		<div class="alert alert-success alert-dismissible fade show" role="alert">
        			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
        			</button>
        			<strong>Success!</strong> {{success}}
        		</div>
        		{{/if}}
            <div class="row" textalign: center>
              <div class="m-portlet m-portlet--full-height " display: inline-block>
        					<div class="m-portlet__head">
        						<div class="m-portlet__head-caption">
        							<div class="m-portlet__head-title">
        								<h3 class="m-portlet__head-text">
        									Retirement Savings
        								</h3>
        							</div>
        						</div>
        					</div>
        					<div class="m-portlet__body">
        						<div class="m-widget12">
        							<div class="m-widget12__item">
        								<span class="m-widget12__text1">Total Saved for Retirement<br>
                          <span>${{retirementSum}}</span>
                        </span>
        							</div>
        							<div class="m-widget12__item">
        								<span class="m-widget12__text1">Amount Saved in the Last Year<br>
                          <span>$3,800,000</span>
                        </span>
        								<span class="m-widget12__text2">Amount Saved in the Last Month<br>
                          <span>$12</span>
                        </span>
        							</div>
        							<div class="m-widget12__item">
                        <div class="m-widget12__text2">
        									<div class="m-widget12__desc">Percentage of Goal Reached</div>
        									<br>
        									<div class="m-widget12__progress">
        										<div class="m-widget12__progress-sm progress m-progress--sm">
        											<div class="m-widget12__progress-bar progress-bar bg-brand" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        										</div>
        										<span class="m-widget12__stats">
        											63%
        										</span>
        									</div>
        								</div>
        								<span class="m-widget12__text1">Amount Left to Reach Goal<br>
                          <span>$60,700</span>
                        </span>
        							</div>
        						</div>
        					</div>
        				</div>
            </div>
        		<!--End::Main Portlet-->
        	</div>
        </div>
{{> footer}}
