{{> header}}
				<div class="m-grid__item m-grid__item--fluid m-wrapper">

					<div class="m-content">
						<div class="m-change_email">
							<button id="m_change_email" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">Change Email</button>
						</div>
						<div class="m-change_password">
							<button id="m_change_password" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">Change Email</button>
						</div>
						<div class="m-manage_notifications">
							<button id="m_manage_notifications" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">Change Email</button>
						</div>
						<div class="m-add_parental">
							<button id="m_add_parental" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">Change Email</button>
						</div>






						<!--End::Main Portlet-->
					</div>
				</div>
			{{> footer}}
